/*
File: style.css
Author: Sangare Fantha Felisha
Copyright: 2022, Sangare Fantha Felisha
Group: Szoft I N
Date: 2022-02-28
Github: https://github.com/fe-ktch/
Licence: GNU GPL
*/

body, html {
    background-color: #EBECF0;
  }
  
  body, p, input, select, textarea, button {
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.2px;
    font-size: 16px;
  }
  
  div, p {
    color: #BABECC;
    text-shadow: 1px 1px 1px #FFF;
  }
  
  form {
    padding: 30px;
    width: 320px;
    margin: 25px auto;  
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
    border-radius: 35px;
  }
  
  .segment {
    padding: 10px;
    text-align: center;  
    margin-top: -30px;
  }
  
  button, input {
    border: 0;
    outline: 0;
    font-size: 16px;
    border-radius: 320px;
    padding: 16px;
    background-color: #EBECF0;
    text-shadow: 1px 1px 0 #FFF;
  }
  
  label {
    display: block;
    margin-bottom: 24px;
    width: 100%;
  }
  
  input {
    margin-right: 8px;
    box-shadow: inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    appearance: none;
    -webkit-appearance: none;
  }
  
  input:focus {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
  button {
    color: #61677C;
    font-weight: bold;
    box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    font-weight: 600;
  }
  
  button:hover {
    box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
  }
  button:active {
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
  button.red {
    display: block;
    width: 100%;
    color: #ebc001;
  }
  
  .eredmeny {
    text-align: center;
    border-radius: 320px;
    width: 100%;
    padding: 3px;
    box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
  }
  
  .footer {
    position: fixed;
    height: auto;
    background-color: #ebc001;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    color: #61677C;
    padding: 45px;
  }